
.header-ul, .header-item{
    list-style-type: none;
    float: right;
    margin-right: 50px;
}

.header-ul{
    margin-top: 5px;
}

.header-container{
   margin: 0 auto;
   text-align: center;
}

.header-item{
    margin: 5px 10px;
}

.text{
    text-decoration: none;
    color: black;
}

.text:hover{
    color: grey;
}

.clear{
    clear: both;
}




.category-ul{
    margin-left: 200px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-size: 16px;
}

.category-li{
    display: inline;
    float: left;
    margin: 0 40px;
    margin-top: 10px;
}

.category-ul::after{
    content: "";
    display: block;
    clear: both;
}


.li-link{
    text-decoration: none;
    color: black;
  
}

.li-link:hover{
    color: gray;
}

